body{
    display: grid;
    grid-template-areas: "nav"
                         "header"
                         "main"
                         "section";
    grid-template-columns: 100vw;
    grid-template-rows: 10vh 40vh 40vh 20vh;
    margin: 0;
}
header{
    background-image: url(../images/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    grid-area: header;
}
main{
    align-items: center;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: main;
    padding: 0 20px;
}
nav{
    align-items: center;
    background-color: #d3bbde;
    display: flex;
    grid-area: nav;
    justify-content: space-between;
    padding: 0 10px;
}
nav img{
    height: 32px;
}
.menu{
    display: flex;
    height: 20px;
    flex-direction: column;
    justify-content: space-between;
}
.menu span{
    background-color: black;
    width: 25px;
    height: 3px;
}
section{
    display: flex;
    flex-direction: column;
    grid-area: section;
    align-items: center;
}
section img{
    height: 72px;
}